.navbar-header {
    position: fixed;
    overflow: hidden;
    width: 87%;
    height: 80px;
    background-color: #f5f7fa;
    right: 0;
    color: #363636;
    z-index: 3;
    padding: 20px;
}

.avatar {
    border-radius: 50%; /* Makes the div a perfect circle */
    background-image: url('https://via.placeholder.com/150'); /* Add an image */
    background-size: cover; /* Ensure the image covers the entire circle */
    background-position: center; /* Center the image */
    border: 1px solid #333; /* Optional: Add a border */
}