.overwrite-header {
    width: 100%;
    height: 77px;
}

.navbar-header {
    position: fixed;
    overflow: hidden;
    width: 100%; 
    background-color: #ffffff;
    padding: 15px;
    color: #363636;
    border: 1px solid #d5d9e4;
    z-index: 3;
}

.navbar-left {
    display: flex;
    gap: 20px;
}

.navbar-left a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: orange;
}

.navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 35px;
    height: 35px; /* Set the height to match width */
    border-radius: 50%; /* Makes the div a perfect circle */
    background-image: url('https://via.placeholder.com/150'); /* Add an image */
    background-size: cover; /* Ensure the image covers the entire circle */
    background-position: center; /* Center the image */
    border: 1px solid #333; /* Optional: Add a border */
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fits the circle */
    border-radius: 50%;
}

.navbar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}